<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <%= form_with model: @article, url:admin_article_path, local: true do |f| %>
          <h5 class='form-header-text text-center'>
            <i class="fas fa-edit fa-lg my-orange"></i>　記事編集
          </h5>
      <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="image">イメージ画像</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.file_field :image, class:"image-input-name", id:"image" %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="title">タイトル</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <div class='input-name-wrap'>
            <%= f.text_field :title, class:"input-name", id:"title", placeholder:"" %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="type">種類</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.collection_select(:type_id, Type.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"type"}) %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="genre">ジャンル</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"genre"}) %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="area">エリア</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.collection_select(:area_id, Area.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"area"}) %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="maximum-price">上限金額</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.text_field :maximum_price, class:"input-name", id:"maximum-price", placeholder:"100,000,000", autofocus: true %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="start-date">取扱開始日</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <div class='input-date-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :start_date,
                          class:'select-date',
                          id:"start-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: 2010,
                          end_year: (Time.now.year + 5),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="end-date">取扱終了日</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <div class='input-date-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :end_date,
                          class:'select-date',
                          id:"end-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: 2020,
                          end_year: (Time.now.year + 5),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="information">詳細</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.text_area :information, class:"input-default", id:"information", placeholder:"" %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="url">URL</label>
            <span class="badge badge-danger">必須</span>
          </div>
          <%= f.text_field :url, class:"input-name", id:"url", placeholder:""%>
        </div>

        <div class='article-btn text-center'>
          <%= f.submit "編集する" ,class:"btn btn-outline-danger w-50" %>
        </div>
      <% end %>
    </div>
  </div>
</div>