<div class="container">
  <h5 class="article-title"><i class="fas fa-poll-h fa-2x my-orange"></i>　検索結果一覧</h5>
    <div class="row">
      <% if @results.length !=0 %>
        <% if user_signed_in? && current_user.admin?%>
          <% @results.each do |result| %>
            <div class="card-group col-md-6 col-lg-3">
              <%= link_to admin_article_path(result.id), class: "article-link" do%>
              <span class="article-info"><%= result.genre.name %></span>
              <div class="card articles-chart">
                <%= image_tag result.image, class:"card-img-top" if result.image.attached? %> 
                <div class="card-body">
                  <h5 class="card-title"><%= result.title %></h5>
                  <p class="card-text"><%= result.information.truncate(30) %></p>
                  <p class="like-button"><i class="far fa-heart fa-2x" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= result.likes.count %></span></p>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% @results.each do |result| %>
            <div class="card-group col-md-6 col-lg-3">
              <%= link_to article_path(result.id), class: "article-link" do%>
                <span class="article-info"><%= result.genre.name %></span>
              <div class="card articles-chart">
                <%= image_tag result.image, class:"card-img-top" if result.image.attached? %> 
                  <div class="card-body">
                    <h5 class="card-title"><%= result.title %></h5>
                    <p class="card-text"><%= result.information.truncate(30) %></p>
                    <p class="like-button"><i class="far fa-heart fa-2x" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= result.likes.count %></span></p>
                  </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h5 class="alert">該当する投稿はありません！</h5>
      <% end %>
    </div>
  <%= paginate @results %>
  <%= link_to 'トップページへ戻る', root_path %>
</div>
