<div class="container">
  <h5 class="article-title"><i class="fas fa-paperclip fa-2x my-orange"></i>　<%= @company.company_name %>のお気に入り記事一覧</h5>
    <div class="row">
      <% @company.liked_articles.each do |article| %>
        <div class="card-group col-md-6 col-lg-3">
          <%= link_to companies_article_path(article.id), class: "article-link" do%>
          <span class="article-info"><%= article.genre.name %></span>
          <div class="card articles-chart">
            <%= image_tag article.image, class:"card-img-top" if article.image.attached? %> 
              <div class="card-body">
                <h5 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%= article.information.truncate(30) %></p>
                <p class="like-button"><i class="far fa-heart fa-2x" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= article.likes.count %></span></p>
              </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="article-title"><i class="fas fa-paperclip fa-2x my-orange"></i>　会社情報</h5>
      <div class="table-responsive-lg text-center">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="align-middle w-25">会社名</th>
              <td class="align-middle"><%= @company.company_name %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">会社名（カナ）</th>
              <td class="align-middle"><%= @company.company_name_kana %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">MAIL</th>
              <td class="align-middle"><%= @company.email %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">郵便番号</th>
              <td class="align-middle"><%= @company.postal_code %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">住所</th>
              <td class="align-middle"><%= @company.address %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">電話番号</th>
              <td class="align-middle"><%= @company.phone_number %></td>
            </tr>
            <tr>
              <td class="align-middle w-25">企業紹介</th>
              <td class="align-middle text-left d-inline-block"><%= simple_format(@company.introduction) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>